.container
  .row.user-menu-container.square
    .col-md-12.user-details
      .row
        .col-md-6.no-pad
          .row
            .user-pad
              %h1
                = @pod.title
              %h4
                = @pod.body
          .van_placement
            = image_tag "veto_1.png", class: "img-responsive"
          .row
            .user-pad
              .btn-group{ style: "bottom: 0" }
                = link_to new_pod_path, class: 'btn btn-default' do
                  %span.glyphicon.glyphicon-download
                  Download
                = link_to new_pod_path, class: 'btn btn-warning' do
                  %span.glyphicon.glyphicon-tool
                  Build
                = link_to new_pod_path, class: 'btn btn-success' do
                  %span.glyphicon.glyphicon-plus
                  Remix
                = link_to edit_pod_path(@pod), class: 'btn btn-info' do
                  %i.fa.fa-pencil
                  Update
                = link_to pod_path(@pod), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: 'btn btn-warning' do
                  %i.fa.fa-cross




        .col-md-6.no-pad
          .user-image
            %img.img-responsive{:src => @pod.image.url}/


  .row
    .col-md-12
      :plain
        <div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://thunderpods.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
